<html>
  <head></head>

  <body>
    <div id="formContainerEdit">

      <h4 id="formHeaderEdit">Edit Event</h4>

      <div id="formBodyEdit">
        <%= form_for [@group_rep, @event] do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %> <br><br>

          <%= f.label :organizer_contact_info %>
          <%= f.text_field :organizer_contact_info %> <br><br>

          <%= f.label :event_time %>
          <%= f.datetime_select :event_time %> <br><br>

          <%= f.label :is_free %>
          <%= f.text_field :is_free %> <br><br>

          <%= f.label :location %>
          <%= f.text_field :location %> <br><br>

          <%= submit_tag('Update', :id => 'updateBtn') %>
        <% end %>
      </div>

    </div>



  </body>

</html>
