<html>
  <head></head>
  
  <body>
    <h2>Placeholder for showing a specific event.</h2>
    
    <table>
      <tr>
        <th>Event</th>
        <th>Location</th>
        <th>Time</th>
        <th>Free?</th>
      </tr>
      <tr>
        <td><%= @event.name %></td>
        <td><%= @event.location %></td>
        <td><%= @event.event_time %></td>
        <td><%= @event.is_free %></td>
      </tr>
    </table>
    
    <br/>
    <%= link_to 'Edit this event', edit_group_rep_event_path(params[:group_rep_id], params[:id]) %>
    <br/>
    <%= link_to 'Delete this event', group_rep_event_path(params[:group_rep_id], params[:id]), :method => 'delete' %>
    <br/>
    <%= link_to 'Back to event list', group_rep_events_path(params[:group_rep_id]) %>
  </body>
</html>