<html>
  <head></head>
  
  <body>
    <div id="showEventContainer">
      <h2>Edit Event</h2>
    
    
      <table>
        <tr>
          <th>Event Name</th>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <th>Event Location</th>
          <td><%= @event.location %></td>
        </tr>
        <tr>
          <th>Event Time</th>
          <td><%= @event.event_time %></td>
        </tr>
        <tr>
          <th>Event Price</th>
          <td><%= @event.is_free %></td>
        </tr>
      </table>
      <br/>
      <%= link_to 'Edit this event', edit_group_rep_event_path(params[:group_rep_id], params[:id]) %>
      <br/>
      <%= link_to 'Delete this event', group_rep_event_path(params[:group_rep_id], params[:id]), :method => 'delete' %>
      <br/>
      <%= link_to 'Back to event list', group_rep_events_path(params[:group_rep_id]) %>
    </div>
  
    
    
  </body>
</html>