<div class="container-fluid">
  <div class="row" id="masterRow">

    <!--first half of screen-->
    <div class="col-sm-6" id="firstHalf">
      <div class="neighborhood_show">
        <h3> <%= @neighborhood.name %> </h3>

          <% @neighborhood.groups.each do |group| %>
              <% group.group_reps.each do |group_rep| %>
                  <% group_rep.events.each do |event| %>
                    <ul class="group_rep_event">
                      <li> <%= event.name %> </li>
                      <li> <%= event.location %> </li>
                      <li>Is the event free? <%= event.is_free? %> </li>

                    </ul>
                  <% end %>
              <% end %>

          <% end %>

      </div>


    </div>

    <!--second half of screen: used for google map display-->
    <div class="col-sm-6" id="secondHalf">
      <div id="map"></div>




    </div>

  </div> <!--end of masterRow-->
</div> <!--end of container-->




<!--js to render google map -->
<script>
  var x = new google.maps.LatLng();
  function initMap(){
    
    var data = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "properties": {
          "fillColor": "red"
          },
        "geometry": {
          "type": "MultiPolygon",
          "coordinates": [[[[-87.67815131699474,41.75765952189084],[-87.67853989599014,41.75765410575161],[-87.67858798381371,41.757653435211104],[-87.67906082466727,41.75764926833821],[-87.67931603094489,41.75764694765998],[-87.68023105657704,41.7576346577499],[-87.68120060450157,41.757621983955154],[-87.6813146286968,41.757627090591086],[-87.68145613264852,41.757633039106445],[-87.68153947804092,41.75763659929925],[-87.6815995423224,41.75763179445943],[-87.68171096090212,41.757622821637376],[-87.68175195843779,41.75762132743268],[-87.68199602753121,41.757612431442844],[-87.68266544591825,41.757604561165756],[-87.68273279939797,41.75760391346968],[-87.68281939901134,41.757602688629014],[-87.68305285203314,41.75759955534632],[-87.68305308076937,41.75759955197561],[-87.6832487323544,41.75759688574895],[-87.68335235894918,41.75758821000966],[-87.6834802858042,41.75757761339661],[-87.68382751366794,41.75758163506579],[-87.68410303519566,41.75756363911979],[-87.68454143407494,41.75756748769969],[-87.68480712819076,41.757570016852654],[-87.68563426042205,41.75755067002524],[-87.68639996745469,41.75753474480916],[-87.68656227949118,41.75753201062322],[-87.68669743252612,41.757529886822404],[-87.68668185366558,41.75747756926367],[-87.68674584504208,41.757451466626144],[-87.6869597679016,41.75744767650999],[-87.68736294645926,41.757445827289075],[-87.68780782030899,41.757443525396695],[-87.68797913304692,41.75744654573634],[-87.68816884924193,41.757441779836284],[-87.68828515780783,41.75744757845784],[-87.68840191763822,41.75745406557091],[-87.68851820908176,41.75746157905086],[-87.68863449368502,41.75746977872535],[-87.68876905127513,41.75748322581909],[-87.68910800915006,41.75748958639883],[-87.68954416820294,41.75748825748288],[-87.68977385318799,41.75747239262737],[-87.6899756374771,41.75745191131377],[-87.69008109924367,41.7574428967412],[-87.69017507359901,41.75743724814847],[-87.69190575105492,41.75740747380614],[-87.69288309224449,41.75739371580172],[-87.69301092180457,41.75739271309766],[-87.6960524254265,41.75735267931118],[-87.6993377957022,41.75729813117737],[-87.70117854169933,41.75725578899516],[-87.70129721585998,41.757254040619976],[-87.70142609294764,41.757239655824755],[-87.70212920099783,41.75720612954345],[-87.70234223829249,41.75720558453779],[-87.70249850125872,41.757201640083345],[-87.70261651280885,41.75719886390431],[-87.70261828951496,41.75723956539813],[-87.7027811469882,41.757250873934645],[-87.70423176568045,41.75723412719382],[-87.7057663327955,41.75720615740359],[-87.70588363580812,41.757204053762685],[-87.706001396925,41.757201952503294],[-87.70611869955874,41.757199848620296],[-87.7062758852419,41.75719521798825],[-87.70632631077905,41.757192062802254],[-87.70637674001394,41.75718856485049],[-87.70642716851594,41.757185066323714],[-87.70647760405265,41.75718088201114],[-87.70653125303356,41.75717602885641],[-87.70658490867625,41.757170490185366],[-87.70663765513302,41.757164260179124],[-87.70669040084691,41.757158030144595],[-87.70674267546072,41.75715316966958],[-87.70679540484073,41.757148654688926],[-87.70684857897959,41.757145514262135],[-87.70690128833188,41.7571430573531],[-87.70695444911958,41.75714128895747],[-87.70744747265748,41.7571340276519],[-87.70743205101844,41.75725949563766],[-87.70763640851196,41.75725649226238],[-87.70790769016136,41.75724973638553],[-87.70813356514424,41.75724822140715],[-87.70851342640643,41.75724136881123],[-87.70880300871697,41.75723711160934],[-87.70891710125645,41.757235330458066],[-87.70902158084294,41.75723281088252],[-87.7090747516338,41.757230012170965],[-87.70912792906287,41.757226527943224],[-87.70918111646006,41.75722201435582],[-87.70923385238596,41.75721681221491],[-87.70928659863938,41.75721058099109],[-87.70933887274792,41.75720571933183],[-87.70939159868105,41.75720154617895],[-87.70944386280817,41.75719771353244],[-87.70949658245377,41.75719422609929],[-87.70954929840047,41.75719108220896],[-87.70964418009089,41.75718610841544],[-87.71003182507975,41.75717963636359],[-87.7104213054024,41.75717282964139],[-87.71082450577352,41.75716849720401],[-87.71100546942553,41.75716844842683],[-87.71118819926448,41.75717526969382],[-87.71134846810206,41.757183341231844],[-87.71150824318092,41.757195183295025],[-87.71172839923446,41.757216613860734],[-87.71184372077536,41.75722993013599],[-87.71205053265122,41.75725746286534],[-87.7122527529427,41.75728599896792],[-87.71234147117501,41.75730260131446],[-87.71234156156561,41.75730261552455],[-87.71251712491957,41.75733065059528],[-87.71254775561138,41.75733733382749],[-87.71253999807008,41.75842746743442],[-87.7125247372072,41.76058132147187],[-87.71243158698715,41.76059625482183],[-87.71243786955414,41.76089507493126],[-87.71243822887433,41.76090403538059],[-87.71244784155105,41.761143831408646],[-87.71246080855474,41.761557262311605],[-87.71246539066001,41.7617156564732],[-87.71247455456276,41.762032444232396],[-87.712475851279,41.762073061723605],[-87.71249531587871,41.7626829564186],[-87.71250332350162,41.76297811578208],[-87.71251221867153,41.763306004645656],[-87.71251362804409,41.7633499211145],[-87.71252052641425,41.763574225322444],[-87.71252548837023,41.76373555980477],[-87.71253670068883,41.764093408899484],[-87.71253978153501,41.76421664721806],[-87.71254042459778,41.764242376062555],[-87.71254431906482,41.7643963522215],[-87.71255006880806,41.76458404118275],[-87.71255303163943,41.76468077794521],[-87.71255502431471,41.76473734933906],[-87.71255770814966,41.76481355857993],[-87.71256802276294,41.765122005585035],[-87.71257295771949,41.765301751675906],[-87.71257548333709,41.765393731834216],[-87.71258034259567,41.76556566722313],[-87.71258983326187,41.76590150527952],[-87.71261145996755,41.766557510292905],[-87.71262035628047,41.7668628531429],[-87.7126293634688,41.7671719878278],[-87.71265039990541,41.767746689304],[-87.71265050117394,41.76774953157502],[-87.712654727686,41.76786814773872],[-87.71265681173576,41.76793210258696],[-87.71265755630127,41.76795495181874],[-87.71266148508946,41.768067302502374],[-87.71266941021287,41.76829393676437],[-87.71268666735814,41.76883294234623],[-87.71270598989203,41.769442967532896],[-87.71271510889318,41.76973288379462],[-87.71271884787768,41.76985125249051],[-87.71274354776725,41.77063316784593],[-87.71274919291493,41.77080814690495],[-87.71277478884187,41.771522147200905],[-87.71277479028592,41.77152218754991],[-87.71277564207968,41.771672553414035],[-87.71277565851372,41.771675488530995],[-87.71278088231695,41.77184669269311],[-87.71280843356385,41.77317199488186],[-87.71280858568124,41.77317416507158],[-87.71282076446128,41.77334753193752],[-87.71282076722571,41.7733477015501],[-87.71283644458856,41.77425957442172],[-87.71285078279203,41.77481640132487],[-87.7128593219329,41.77516670958371],[-87.71289197416394,41.776533524908935],[-87.71290188313807,41.776980013520955],[-87.71291129192305,41.777424508409446],[-87.712920979695,41.77788217574629],[-87.71292203250485,41.77793190643676],[-87.71292546327388,41.77809898400678],[-87.71293250343783,41.7783599864903],[-87.71293728051096,41.77853710583686],[-87.71294545497707,41.778829694137364],[-87.71289732846506,41.77883128691388],[-87.71283501356645,41.77883334942819],[-87.71272560684902,41.77883209187496],[-87.71274502615431,41.77901371246932],[-87.71275171570475,41.77917928453197],[-87.71275600251236,41.77928510056613],[-87.7127584087239,41.77934449984985],[-87.71276615939946,41.77953691684584],[-87.71277246012062,41.77974233396392],[-87.71277717807344,41.77989614976991],[-87.71277947582561,41.779969654414245],[-87.71278646808767,41.78019450486286],[-87.71278936912684,41.78028590556733],[-87.71279535304846,41.780479053946976],[-87.71279983248616,41.78064609539805],[-87.71280374025842,41.78079181168143],[-87.71280686120214,41.78092064574797],[-87.71280994760932,41.78104926008142],[-87.71281128540922,41.78110091246815],[-87.71281518440286,41.78125146057232],[-87.71281863772553,41.781380049437125],[-87.71282379764527,41.78155634335893],[-87.712830469535,41.78178429306623],[-87.71283438421925,41.78192207779738],[-87.7128370110385,41.78200911356428],[-87.71283966386068,41.78209702764446],[-87.71284369619495,41.78222641546253],[-87.71284738598546,41.78235330411967],[-87.71285046204974,41.78246140174612],[-87.71285568425237,41.78264490276121],[-87.71286064457479,41.78283777110156],[-87.71286264122224,41.78291495170942],[-87.71286419722236,41.782975087321525],[-87.71286912330113,41.783167708479176],[-87.71287526328891,41.7833710663753],[-87.71288107376857,41.78356350019528],[-87.71288604343839,41.78372878840316],[-87.71288899460136,41.7838269948943],[-87.71289073485028,41.78388490916272],[-87.71289681450318,41.78408719643241],[-87.71289929493511,41.784276334459356],[-87.71290171706882,41.784461023391344],[-87.71290577039534,41.7846110755221],[-87.71290926577655,41.784737194398915],[-87.7129143437749,41.78492358704591],[-87.71291811245594,41.78506137091158],[-87.71292273194011,41.78519043251687],[-87.71292588290855,41.78527845900904],[-87.71292987780777,41.785397802164944],[-87.71293146814028,41.785444573778506],[-87.71293447773687,41.78553174877238],[-87.71293707561824,41.785608383457166],[-87.71293677799412,41.785639255143785],[-87.71293638142578,41.78568038995087],[-87.71289672804394,41.78609662248925],[-87.71279990930405,41.786098407512696],[-87.7126147067736,41.78610182228236],[-87.71251290298719,41.78610346761299],[-87.71238014656362,41.78610560418366],[-87.71217741873232,41.78610884420972],[-87.71196651239471,41.78611225918607],[-87.71174753833957,41.786115767338266],[-87.71151316164115,41.78611952101906],[-87.71133280384214,41.78612244154797],[-87.71112901210199,41.78612572884914],[-87.71090266664869,41.78612936012407],[-87.71066794573667,41.78613317031522],[-87.71048694125207,41.78613610823963],[-87.710303980406,41.78613898559728],[-87.7101084401455,41.7861421237367],[-87.70990464857273,41.78614538142356],[-87.70971688319592,41.786148368987746],[-87.70946816828311,41.78615223440898],[-87.7092326922269,41.78615589376544],[-87.7090684346144,41.786158458841726],[-87.70888067024241,41.78616133527272],[-87.70869407861571,41.786164272659114],[-87.70850675420162,41.78616715087102],[-87.70838155313267,41.78616910409476],[-87.70823016792302,41.78617192817657],[-87.70806718420826,41.786174968026664],[-87.70781737382725,41.786178383177706],[-87.70765374200217,41.78618064804055],[-87.70748182256521,41.786183032178805],[-87.70729406075195,41.78618563160087],[-87.70723648534096,41.78618642954535],[-87.70701846702919,41.78618964162356],[-87.7064214014367,41.78619844448251],[-87.70578133932946,41.78620787766666],[-87.70551148125537,41.786211853932876],[-87.70516392740602,41.78621777527144],[-87.70479429613926,41.78622406874296],[-87.70456832534552,41.786227676961495],[-87.70428996856569,41.78623212086728],[-87.70396610842631,41.78623850558952],[-87.70372349595434,41.7862432880144],[-87.70334872788678,41.78624839992082],[-87.70233163835249,41.7862622675338],[-87.70212779510402,41.78626612009711],[-87.7018657301786,41.78627107245741],[-87.70116440175813,41.78628148564245],[-87.70091147612028,41.786286242972594],[-87.7006993738871,41.78629023222563],[-87.69997441915982,41.78630188018157],[-87.69969082538458,41.78630732141135],[-87.69941447620866,41.786312622989314],[-87.69868161057968,41.78632328607341],[-87.69847143882475,41.786327478917165],[-87.69816130825495,41.78633366545526],[-87.69806819598475,41.78633506557121],[-87.69743093362199,41.786344526706834],[-87.69725407133467,41.78634724908397],[-87.69679110053336,41.786354375120226],[-87.69636526297303,41.78636002814824],[-87.6960337417923,41.78636654589002],[-87.69565429061653,41.78637400412455],[-87.69507096903958,41.7863830866254],[-87.69481526595187,41.78638579255751],[-87.69439423785765,41.786390247092925],[-87.69378088557755,41.786402998022865],[-87.69359512574918,41.78640707442581],[-87.69317742837967,41.786416239903176],[-87.6926612735969,41.786422363830255],[-87.69237602336106,41.78642734553565],[-87.69198240494325,41.78643421834839],[-87.6914778239129,41.78644163650106],[-87.6911560379794,41.786446885803386],[-87.69062703773976,41.78645551363094],[-87.69026382729507,41.786461137633324],[-87.68993704259033,41.786467091557675],[-87.68955410975106,41.786474067485976],[-87.68889985839544,41.78648443632443],[-87.68871826135087,41.786486930190776],[-87.68844372592652,41.78649069960415],[-87.68771746995174,41.78650012207258],[-87.6874981151583,41.786504085706845],[-87.68724019274848,41.78650874559787],[-87.6865071589805,41.78652114128919],[-87.68628005921663,41.78652484246512],[-87.68534083221586,41.78654014526349],[-87.68505689768521,41.78654468837836],[-87.68484123064421,41.78654813864939],[-87.68421908879952,41.78655587662152],[-87.68400854722879,41.78655196995238],[-87.68383060506372,41.78652872103306],[-87.68368560195643,41.786509775645875],[-87.68310222855656,41.78651645564183],[-87.68243755389763,41.78652406287065],[-87.68224832824615,41.78652622775867],[-87.68141227285787,41.78653710140026],[-87.68110803631909,41.78654136394184],[-87.68078080634278,41.78654594787917],[-87.68047302442154,41.78654882962743],[-87.6803035129084,41.78655041644816],[-87.68021372478937,41.786551257308915],[-87.68021358104166,41.7865512584127],[-87.68011614923155,41.78655217017795],[-87.68006368408402,41.786552661379176],[-87.67996283674286,41.78655382116023],[-87.67991150364107,41.78655444469326],[-87.67977375222405,41.78655611834222],[-87.6796718667745,41.786557246165664],[-87.679480599261,41.78655959520923],[-87.6791510141409,41.78656372612887],[-87.6791342061897,41.786563936952895],[-87.67912332519053,41.78656407367616],[-87.67908951323972,41.78535448598753],[-87.6790854820741,41.785210044447346],[-87.67907257410012,41.784721487129964],[-87.67906119956342,41.78426243991027],[-87.67902331860677,41.782849256971815],[-87.67898836342023,41.78155409465435],[-87.67897519320921,41.78104632575082],[-87.67894585646073,41.78104684472239],[-87.67875100560185,41.780332904545695],[-87.67848523599673,41.77924734682086],[-87.67848331061856,41.77916642638279],[-87.67848283692642,41.77912285801922],[-87.67853602174043,41.77862507182412],[-87.67873449014711,41.77677449016114],[-87.67877850478203,41.776366870097824],[-87.6787992808213,41.77617145743787],[-87.67881603718396,41.7759657304851],[-87.67881062877152,41.77573140545775],[-87.67880901104836,41.775665190388885],[-87.67880834364558,41.77564090423727],[-87.67855717648351,41.775644125144964],[-87.67855717060964,41.77564401780955],[-87.67845417265588,41.773832036861215],[-87.67844794017034,41.773723944667665],[-87.67835026379667,41.772019220468856],[-87.67871506409507,41.77201461975882],[-87.6787021094619,41.771486389741916],[-87.67869592508725,41.77123833889479],[-87.67866856562054,41.77027870762319],[-87.67866660482703,41.77020118759541],[-87.6786441699968,41.769343106511386],[-87.67862000357836,41.76838530407525],[-87.67835603344726,41.76838836216398],[-87.67845088009763,41.76753316837758],[-87.67845122969594,41.76673286431989],[-87.67835077127235,41.76593301460578],[-87.6785510534453,41.76475603717204],[-87.6785401603642,41.76384499511255],[-87.67848255095976,41.76293184357473],[-87.67848247834594,41.7629306938474],[-87.67842617444269,41.762032763441425],[-87.67836861990367,41.76111446631193],[-87.67815131699474,41.75765952189084]]]]
          
          }
      }]
    }; 
    
    
    
    var mapProp = {
        center: {lat: <%= @neighborhood.lat %>, lng: <%= @neighborhood.lng %>},
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    
    map.data.addGeoJson(data);
    map.data.setStyle(function (feature) {
        var color = feature.getProperty('fillColor');
        return {
            fillColor: color,
            strokeWeight: 1
        };
    });
  }
  
  
  
</script>

// <script>
//   var map;
//   function initMap() {
//     map = new google.maps.Map(document.getElementById('map'), {
//       // lat and lng are simple placeholders
//       center: {lat: <%= @neighborhood.lat %>, lng: <%= @neighborhood.lng %>},
//       zoom: 13
//     });
//   }
// </script>

<!--google maps api link -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9bgTM6mZMkfpii73l5lUwTHfMq8N2zos&callback=initMap" async defer></script>