<div class="container-fluid">
  <div class="row" id="masterRow">

    <!--first half of screen-->
    <div class="col-sm-6" id="firstHalf">
      <div class="neighborhood_show">
        <h3> <%= @neighborhood.name %> </h3>

          <% @neighborhood.groups.each do |group| %>
              <% group.group_reps.each do |group_rep| %>
                  <% group_rep.events.each do |event| %>
                    <ul class="group_rep_event">
                      <li> <%= event.name %> </li>
                      <li> <%= event.location %> </li>
                      <li>Is the event free? <%= event.is_free? %> </li>

                    </ul>
                  <% end %>
              <% end %>

          <% end %>

      </div>
    </div>

    <!--second half of screen: used for google map display-->
    <div class="col-sm-6" id="secondHalf">
      <div id="map"></div>
    </div>

  </div> <!--end of masterRow-->
</div> <!--end of container-->




<!--js to render google map -->
<script>

  var boundaries; 
  var policeStations = [];
  // var schools = [];
  var fireStations  = [];
  var libraries = [];
  // var hospitals = [];
  var i;
  
  //ajax call to get boundaries for Chicago Lawn. Down the road we will make this dynamic so it works not just for Chicago Lawn but for all neighborhoods
  $.ajax({
    url: "https://data.cityofchicago.org/resource/igwz-8jzy.json", 
    async: false,
    success: function(data){
      boundaries = data[63].the_geom.coordinates;
    }
  });

  //ajax call to get police stations for all of Chicago
  $.ajax({
    url: "https://data.cityofchicago.org/resource/9rg7-mz9y.json", 
    async: false,
    success: function(data){
      var station = [];
      data.forEach(function(x){
        station = [];
        station.push(x.district_name, parseFloat(x.latitude), parseFloat(x.longitude));
        policeStations.push(station);
        
      }); 
    }
  });
  
  //ajax call to get libraries for all of Chicago
  $.ajax({
    url: "https://data.cityofchicago.org/resource/psqp-6rmg.json", 
    async: false,
    success: function(data){
      var library = [];
      data.forEach(function(x){
        library = [];
        library.push(x.name_, x.location.coordinates[0], x.location.coordinates[1]);
        libraries.push(library);
        
      });
    }
  });
  
  //ajax call to get fire stations for all of Chicago
  $.ajax({
    url: "https://data.cityofchicago.org/resource/b4bk-rjxe.json", 
    async: false,
    success: function(data){
      var fireStation = [];
      data.forEach(function(x){
        fireStation = [];
        fireStation.push(x.name, x.location.coordinates[0], x.location.coordinates[1]);
        fireStations.push(fireStation);
        
      });
      console.log(fireStations);
    }
  });



  function initMap(){
    
    // var data is used for setting boundaries
    var data = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "properties": {
          "fillColor": "red"
        },
        "geometry": {
          "type": "MultiPolygon",
          "coordinates": boundaries
        }
      }]
    };
    
    
    var mapProp = {
      center: {lat: <%= @neighborhood.lat %>, lng: <%= @neighborhood.lng %>},
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    var map = new google.maps.Map(document.getElementById("map"), mapProp);
    
    map.data.addGeoJson(data);
    map.data.setStyle(function (feature) {
      var color = feature.getProperty('fillColor');
      return {
          fillColor: color,
          strokeWeight: 1
      };
    });
    
    //USED TO PLACE POLICE STATION MARKERS
    var policeMarker;
    var policeInfoWindow = new google.maps.InfoWindow(), policeMarker, i;
    
    for (i = 0; i < policeStations.length; i++ ){
      policeMarker = new google.maps.Marker({
        position: new google.maps.LatLng(policeStations[i][1], policeStations[i][2]),
        map: map,
        icon: '../assets/policeMarker.png'
      });
      
      
      google.maps.event.addListener(policeMarker, 'click', (function(policeMarker, i) {
          return function() {
              policeInfoWindow.setContent(policeStations[i][0] + ' Police Station');
              policeInfoWindow.open(map, policeMarker);
          }
      })(policeMarker, i));
    }
    
    
    //USED TO PLACE LIBRARY MARKERS 
    var libraryMarker;
    var libraryInfoWindow = new google.maps.InfoWindow(), libraryMarker, i;
    
    for (i = 0; i < libraries.length; i++ ){
      libraryMarker = new google.maps.Marker({
        position: new google.maps.LatLng(libraries[i][2], libraries[i][1]),
        map: map,
        icon: '../assets/libraryMarker.png'
      });
      
      
      google.maps.event.addListener(libraryMarker, 'click', (function(libraryMarker, i) {
          return function() {
              libraryInfoWindow.setContent(libraries[i][0] + ' Public Library');
              libraryInfoWindow.open(map, libraryMarker);
          }
      })(libraryMarker, i));
    }
    
    //USED TO PLACE FIRESTATION MARKERS 
    var fireStationMarker;
    var fireInfoWindow = new google.maps.InfoWindow(), fireStationMarker, i;
    
    for (i = 0; i < fireStations.length; i++ ){
      fireStationMarker = new google.maps.Marker({
        position: new google.maps.LatLng(fireStations[i][2], fireStations[i][1]),
        map: map,
        icon: '../assets/fireMarker.png'
      });
      
      
      google.maps.event.addListener(fireStationMarker, 'click', (function(fireStationMarker, i) {
          return function() {
              fireInfoWindow.setContent(fireStations[i][0] + ' Fire Station');
              fireInfoWindow.open(map, fireStationMarker);
          }
      })(fireStationMarker, i));
    }
    
    
    
  }
  
  
  
</script>

<!--google maps api link -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9bgTM6mZMkfpii73l5lUwTHfMq8N2zos&callback=initMap" async defer></script>