<!DOCTYPE html>
<html>
<head>
  <title>NeighborhoodsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <div class="container-fluid" id="headerContainer">
    <header>
      <div class="row">
        
        <a href="/">
        <div class="col-xs-6">
          <h3 id="siteTitle">MyChiCommunity</h3>
        </div>
        </a>
        
        
        <div class="col-xs-6 text-right" id="actionContainer">
          <% if current_group_rep %>
            <button>
              <%= link_to "Logout", destroy_group_rep_session_path, method: :delete %>
            </button>
          <% else %>
            <button>
              <%= link_to "Login", new_group_rep_session_path %>
            </button>
          <% end %>
          <button>
            <%= link_to "Home", neighborhoods_path %>
          </button>
        </div>
        
      </div>
    </header>
  </div>

  <div class="content">
    <%= yield %>
  </div>
  

</body>
</html>
