<!DOCTYPE html>
<html>
<head>
  <title>NeighborhoodsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_group_rep %>
  <%= link_to "Logout", destroy_group_rep_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_group_rep_session_path %>
<% end %>

<%= link_to "Home", neighborhoods_path %>

  <div class="content">
    <%= yield %>
  </div>


</body>
</html>
